# neahtid site
name: Neahtid
author: Rodrigo Cancino (Coto)

# ---- Main settings ----
title: Solutions tailored to help your business grow
description: >- # this means to ignore newlines
  Leading provider of innovative IT solutions including web applications, 
  business intelligence, AI automation, cybersecurity, hardware solutions, 
  and e-commerce platforms. Empowering businesses with cutting-edge technology.
keywords: >-
  IT solutions, web development, business intelligence, artificial intelligence, 
  cybersecurity services, hardware solutions, e-commerce platforms, digital transformation, 
  software development, system integration
slogan: Empowering innovation
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.neahtid.com" # the base hostname & protocol for your site, e.g. http://example.com
logo: "https://www.neahtid.com/assets/img/neahtid_logo.png"
color_main: "#091C99"
google_analytics: "G-GPW5FKMJWZ"

# ---- Secondary settings ----
twitter_username: neahtid

# ---- Jekyll settings ----
plugins:
  - jekyll-feed
  - jekyll-multiple-languages-plugin
  - jekyll-timeago
  - jekyll-seo-tag
permalink: pretty

# permalink: /:categories/:title/
#permalink: /:categories/:year/:month/:day/:title:output_ext

jekyll_timeago:
  depth: 2
  translations_path: "/_18n/*.yml"
  default_locale: "en"
  fallbacks: true
  available_locales:
    - "en"
    - "es"
    - "pt-br"

# Multilingual settings
languages: ["en", "es", "pt-br"]
default_lang: "en"
exclude_from_localization:
  ["javascript", "images", "css", "scripts", "favicon.ico"]
parallel_localization: true

# Language names for UI
language_names:
  en: English
  es: Español
  pt-br: Português


collections:
  pages:
    output: true

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

# Exclude directories and files
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .git
  - .gitignore
  - README.md
  - LICENSE
# Exclude from processing.
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
