<footer class="site-footer h-card">
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          <div><img src="assets/img/neahtid-logo-720x300-gray.png" alt="Neahtid"></div>
          <div class="footer-icons">
            <a class="footer-icon twitter" href="https://www.twitter.com/neahtid" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="footer-icon facebook" href="https://www.facebook.com/Neahtid/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a class="footer-icon youtube" href="https://www.youtube.com/neahtid" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="footer-icon instagram" href="https://www.instagram.com/neahtid/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="footer-icon googleplus" href="https://plus.google.com/+Neahtid" target="_blank">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <a class="footer-icon pinterest" href="https://www.pinterest.cl/neahtid/" target="_blank">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <ul class="footer-list">
            <li><a href="./contact-us.html">Support</a></li>
            <li><a href="./research-program.html">Research Programs</a></li>
            <li><a href="./investor-relations.html">Investor Relations</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</footer>
