<footer class="site-footer h-card">
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          <div><img src="/assets/img/neahtid-logo-720x300-gray.png" alt="Neahtid"></div>
        </div>
        <div class="col-12 col-md-5">
          <ul class="footer-list">
            <li><a href="/contact-us">{% t titles.support %}</a></li>
            <li><a href="/research-program">{% t titles.researchPrograms %}</a></li>
            <li><a href="/software-hardware-solutions">{% t titles.softwareSolutions %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</footer>
