<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid header">
      <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="Neahtid"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">{% t titles.contactus %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/our-company">{% t titles.ourcompany %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/software-hardware-solutions">{% t titles.portfolio %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">{% t titles.services %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/research-program">{% t titles.research %}</a>
          </li>
        </ul>
        <div class="d-block btn-group text-end">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {% t global.tagline %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            {% for lang in site.languages %}
            {% unless site.lang == lang %}
            <li>
              {% if page.namespace %}
              <a class="dropdown-item" data-lang="{{ lang }}" href="{% tl {{ page.namespace }} {{ lang }} %}">
                {% t langs.{{ lang }} %}
              </a>
              {% else %}
              {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
              <a class="dropdown-item" data-lang="{{ lang }}" href="{{ site.baseurl_root }}{{ page.url }}">
                {% t langs.{{ lang }} %}
              </a>
              {% else %}
              <a class="dropdown-item" data-lang="{{ lang }}" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}">
                {% t langs.{{ lang }} %}
              </a>
              {% endif %}
              {% endif %}
            </li>
            {% assign next = forloop.index | plus: 1 %}

            {% endunless %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>