  <!-- icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" href="assets/img/icon-16x16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="assets/img/icon-32x32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="assets/img/icon-192x192.png" type="image/png" sizes="192x192">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon-180x180.png">
  <link rel="apple-touch-icon-precomposed" href="assets/img/icon-180x180.png">

  <link rel="canonical" href="https://neahtid.com/">

  <!-- Facebook Open Graph -->
  <meta property="og:locale" content="{{ page.lang | default: site.lang | default: "en-US" }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - Neahtid">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="https://www.neahtid.com/">
  <meta property="og:site_name" content="Neahtid">

  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }} - Neahtid">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:site" content="@neahtid">
  <meta name="twitter:image"
    content="{{ site.logo }}">
  <meta name="twitter:creator" content="@neahtid">

  <!-- styles -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css?v=201810191405" type="text/css">
