  <!-- icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" href="assets/img/icon-16x16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="assets/img/icon-32x32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="assets/img/icon-32x32.png" sizes="32x32">
  <link rel="icon" href="assets/img/icon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/img/icon-180x180.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="assets/img/icon-270x270.png">
  <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1e009f">

  <link rel="canonical" href="https://neahtid.com/">
      <meta name="theme-color" content="#ffffff">

  <!-- Facebook Open Graph -->
  <meta property="og:locale" content="{{ page.lang | default: site.lang | default: "en-US" }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - Neahtid">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="https://www.neahtid.com/">
  <meta property="og:site_name" content="Neahtid">
  
  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }} - Neahtid">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:site" content="@neahtid">
  <meta name="twitter:image" content="https://storage.googleapis.com/neahtid-web.appspot.com/1/elementor/thumbs/neahtid-logo-320x132-nr45ccquchf9ycd48dm9sraqmlftewtc3asjkdf2x0.png">
  <meta name="twitter:creator" content="@neahtid">
  
  <!-- styles -->
  <link rel="stylesheet" href="assets/fonts/fonts.css" type="text/css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/fa.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css?v=201811111111" type="text/css">