{% assign prefix = '' %}
{% if site.lang != site.default_lang %}
{% assign prefix = "/" | append: site.lang %}
{% endif %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ prefix | default: '/#home' }}"><img src="/assets/img/neahtid_logo.png" alt="Neahtid" class="logo"></a>

      <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          {% for navtop in site.translations[site.lang].global.navbar_top %}
          <li class="nav-item {% if page.url == navtop.link %}active{% endif %}">
            <a class="nav-link" href="{{prefix}}{{navtop.link}}">{{ navtop.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="d-block btn-group text-end">
          <button class="btn btn-outline-secondary dropdown-toggle my-2" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {% t global.tagline %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            {% for lang in site.languages %}
            {% unless site.lang == lang %}
            <li>
              {% if page.namespace %}
              <a class="dropdown-item" data-lang="{{ lang }}" href="{% tl {{ page.namespace }} {{ lang }} %}">
              {{ site.language_names[lang] }}
              </a>
              {% else %}
              {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
              <a class="dropdown-item" data-lang="{{ lang }}" href="{{ site.baseurl_root }}{{ page.url }}">
              {{ site.language_names[lang] }}
              </a>
              {% else %}
              <a class="dropdown-item" data-lang="{{ lang }}" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}">
              {{ site.language_names[lang] }}
              </a>
              {% endif %}
              {% endif %}
            </li>
            {% assign next = forloop.index | plus: 1 %}

            {% endunless %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>